[user]
        name = azimut
        username = azimut
        email = azimut.github@protonmail.com
	signingkey = 9007F54F3E62798A
[alias]
        staple = subtree push --prefix doc origin gh-pages
[github]
	user = azimut
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgSign = true
